
.profile{
   margin-top: 15px;
   display: flex;
   align-items: center;
}
.profileImg img{
   width: 100%;
   max-width: 180px;
   height: auto;
   padding-right: 40px;
}
.profileName{
   margin-bottom: 20px;
}
.profileInfo{

}
.profileOtherInfo{
   
}