
.profile{
   margin-top: 15px;
   display: flex;
   align-items: center;
}
.profileImg img{
   background-size: cover;
   width: 100%;
   width: 140px;
   height: auto;
   margin-right: 40px;
}
.profileName{
   margin-bottom: 20px;
}
.profileInfo{

}
.profileOtherInfo{
   
}