
.profile{
   margin-top: 15px;
   display: flex;
   align-items: center;
}
.profileImg {
}
.profileImg img{
   background-size: cover;
   width: 100%;
   width: 200px;
   height: auto;
   margin-right: 40px;
}
.changeProfileImg{

}