.usersNav{
   margin-bottom: 15px;
}
.btnLeft{
   margin-right: 10px;
}
.btnRight{
   margin-left: 10px;
}
.selectedPage{
   margin-left: 5px;
   font-size: 26px;
   font-weight: 700;
}
.otherPage{
   margin-left: 5px;
}
.otherPage:first-child{
   margin-left: 0;
}