.header{
   padding: 15px;
   background-color: green;
   margin: 15px 0;
   position: relative;
}
.login {
   display: inline-block;
   position: absolute;
   right: 0;
   bottom: 0;
   padding: 12px;
   background-color: rgb(5, 105, 135);
}
.login a{
   color: black;
}