.main{
   width: 100%;
}
.formname{
   margin: 15px 0;
}
.form textarea{
   width: 100%;
   min-height: 70px;
   position: relative;
}
.form button{
   padding: 15px;
   position: absolute;
   right: 0px;

}
.listOfPosts{
   margin-top: 50px;
}