.login{
   padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   position: relative;
}
.loginHeader{
   font-size: 24px;
   font-weight: 700;
   top: 20%;
   position: absolute;
   margin: 0 auto;
}
.loginItem input{
   margin: 0;
   margin-bottom: 10px;
}
.loginBtn{
   border-radius: 30px;
   display: block;
   width: 100%;
   padding: 5px;
   background-color: rgb(35, 53, 212);
   color: white;
}
.formSummaryError{
   margin:  5px 0;
   border: 1px red solid;
   padding: 10px;
   color: red;
}